.friendsBlock {
    grid-area: friendsBlock;
    background-color: #d0b69d;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.friend {
    background-color: bisque;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}
.friend img {
    width: 60px;
    border-radius: 50%;
}
