.sidebar {
    grid-area: sidebar;
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow:0 0 6px rgba(0,0,0,0.5);
}

.sidebarLinks {
    display: flex;
}

.navItem {
    margin: 10px;
}

.navItem {
    color: white;
    text-decoration: none;
}

.navItem:hover {
    color: #eadac3;
    transition: 0.2s;
}

.login {
    color: white;
}

