.sidebar {
    grid-area: sidebar;
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow:0 0 6px rgba(0,0,0,0.5);
}

.sidebarLinks {
    display: flex;
}

.item {
    margin: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #eadac3;
    transition: 0.2s;
}

.item a.activeLink {
    color: gold;
}

.login {
    color: white;
}