.sidebar {
    grid-area: sidebar;
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
}

.item {
    margin: 10px;
    display: flex;
}

.item a {
    color: white;
    text-decoration: none;

}

.item a.activeLink {
    color: gold;
}

.friendsBlock {
    height: 50px;
    /*background-color: red;*/
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-content: center;
}

.friendItem {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
}

.friendItem img {
    width: 30px;
    border-radius: 50%;
}