.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
    "sidebar sidebar"
    "friendsBlock content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 9fr;
    grid-gap: 5px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #baba0e;
}