.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: red;
}

.dialog div {
    /*background-color: red;*/
    padding-bottom: 5px;
}

.dialog img {
    width: 40px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
}

.message {
    padding-bottom: 5px;
}